@font-face {
    font-family: Roboto Slab Bold;
    src: url(/Figma/fonts/static/RobotoSlab-Bold.ttf);
    font-family: Roboto Slab Light;
    src: url(/Figma/fonts/static/RobotoSlab-Light.ttf)
}

header {
    background-image: url(/Figma/images/browser.svg);
    width: 80rem;
    height: 2rem;
    top: 12px;
    left: 679px;
    font-family: Helvetica, Sans-Serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    justify-content: center;
    align-self: self-start;
}

.header1 {
    background-image: url(/Figma/images/browser.svg);
    width: 80rem;
    height: 2rem;
    top: 12px;
    left: 679px;
    font-family: Helvetica, Sans-Serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    justify-content: center;
    align-self: self-start;
    margin-bottom: 10rem;
}

.logo_button {
    grid-template-areas: "logo cart";
    grid-template-columns: 3rem 2rem;
    grid-template-rows: 2rem;
    display: grid;
    justify-content: space-between;
    width: 70rem;
}

.logo_button1 {
    grid-template-areas: "logo1 cart1";
    grid-template-columns: 3rem 2rem;
    grid-template-rows: 2rem;
    display: grid;
    justify-content: space-between;
    width: 70rem;
}

.logo {
    grid-area: logo;
    display: inline-grid;
    margin-left: 5rem;
}

.logo1 {
    grid-area: logo1;
    display: inline-grid;
    margin-left: 5rem;
}

.cart {
    background-image: url(/Figma/images/button-cart.svg);
    width: 115px;
    height: 38px;
    border-radius: 100px;
    border-color: aliceblue;
    grid-area: cart;
    display: inline-grid;
    margin-left: 5rem;
}

.cart1 {
    background-image: url(/Figma/images/button-cart.svg);
    width: 115px;
    height: 38px;
    border-radius: 100px;
    border-color: aliceblue;
    grid-area: cart1;
    display: inline-grid;
    margin-left: 5rem;
}

.border {
    margin-bottom: 1rem;
}

.border1 {
    height: 0.1rem;
    background-color: rgb(216, 214, 214);
}

.txt_img {
    grid-template-areas: "h1 bc"
    "article bc"
    "button bc"
    "nav bc";
    grid-template-columns: 40rem 20rem;
    grid-template-rows: 13rem 6rem 10rem 10rem;
    display: grid;
}

.VRww {
    margin-top: 2rem;
    margin-right: 3rem;
    grid-area: h1;
    display: grid;
    justify-content: center;
font-weight: 700;
line-height: 72px;
letter-spacing: 0em;
text-align: left;
    color:rgba(0, 0, 0, 1);
    letter-spacing: 0.1rem;
    font-family: Roboto Slab Bold;
}

.background {
    grid-area: bc;
    display: grid;
}

.art1 {
    color: black;
    margin-top: 3rem;
    font-weight: 300;
    grid-area: article;
    display: grid;
    justify-content: center;
    font-family: Roboto Slab Light;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-areas: "op wb del help";
    margin-top: 7rem;
}

.buy {
    background-image: url(/Figma/images/button-buy.png);
    width: 270px;
    height: 84px;
    margin-top: 3rem;
    border-radius: 100px;
    border-color: aliceblue;
    grid-area: button;
    display: grid;
    justify-self: center;
    margin-right: 7rem;
}

.op, .wb, .del, .help {
    color: rgba(82, 34, 208, 1);
    font-family: Roboto Slab Light;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    grid-area: a;
}

.op {
    grid-area: op;
    margin-left: 8rem;
}

.wb {
    grid-area: wb;
}

.del {
    grid-area: del;
}

.help {
    grid-area: help;
}

/*page 2*/

.page2 {
    display: none;
}

@font-face {
    font-family: Roboto Slab Bold;
    src: url(/Figma/fonts/static/RobotoSlab-Bold.ttf);
    font-family: Roboto Slab Light;
    src: url(/Figma/fonts/static/RobotoSlab-Light.ttf)
}

.mn {
    margin-top: 6rem;
    display: grid;
    grid-template-areas: 
    "hdr hdr hdr hdr hdr hdr"
    "col1 col1 col2 col2 col3 col3"
    "r2col1 r2col1 r2col2 r2col2 r2col3 r2col3"
    "f2 f2 f2 f2 f2 f2";
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem;
    grid-template-rows: 5rem 40rem 15rem 5rem;
    justify-content: space-evenly;
}

.col1 {
    display: grid;
    grid-area: col1;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-radius: 1px;
    border-color: rgba(187, 34, 71, 1);
}

.col2 {
    grid-area: col2;
    display: grid;
}

.col3 {
    grid-area: col3;
    display: grid;
}

.r2col1 {
    grid-area: r2col1;
    display: grid;
    border-style: solid;
    border-color: rgba(187, 34, 71, 1);
}

.r2col2 {
    grid-area: r2col2;
    display: grid;
}

.r2col3 {
    grid-area: r2col3;
    display: grid;
    background-color: rgba(236, 97, 91, 1);
    width: 25vw;
    
}

.l {
    font-family: Roboto Slab Bold;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
width: 365px;
height: 36px;
color: rgba(0, 0, 0, 1);
font-weight: 700;
display: grid;
margin-left: 1.5rem;
}

.lw {
    font-family: Roboto Slab Bold;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
width: 365px;
height: 36px;
color: white;
font-weight: 700;
display: grid;
margin-top: 2rem;
margin-left: 0.5rem;
}

.def {
    font-family: Roboto Slab Thin;
font-size: 20px;
font-weight: 300;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
padding-left: 0.5rem;
padding-right: 0.5rem;
}

.sbscrb {
    background-image: url(/Figma/images/subscribe.svg);
    width: 135px;
height: 38px;
border-radius: 100px;
border-color: rgba(236, 97, 91, 1);
display: grid;
margin-top: 2rem;
    margin-left: 0.5rem;
}

.prtn {
    grid-area: hdr;
    display: grid;
font-weight: 700;
line-height: 72px;
letter-spacing: 0em;
    color:rgba(0, 0, 0, 1);
    letter-spacing: 0.1rem;
    font-family: Roboto Slab Bold;
}

.f2 {
    grid-template-areas: "o w de hel";
    grid-template-columns: 10rem 10rem 10rem 10rem;
    grid-row: 1rem;
    grid-area: f2;
    display: grid;
    margin-top: 4rem;
    margin-left: 3.5rem;
}

.o, .w, .de, .hel {
    font-family: Roboto Slab Thin;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-decoration: none;
    color: black;
    margin-right: 7rem;
    width: 85px;
height: 32px;
display: inline;
}

.w {
    display: inline;
}

.input-mail {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 23vw;
    height: 5vh;
    display: grid;
}
